@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 1px 10px 10px rgb(211, 211, 211);
}
img{
    margin-top: 40px;
    width:100px;
    height: 100px;
 margin-bottom: 10px;
}
.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 14px;
    width: 80%;
    margin-bottom: 6px;
    margin-left: 50px;
    border-radius: 2px;
    background-color: #F2F5FA;
    border:none;
    outline: none;
}
#t{
    display: block;
    left: 20px;
    color: grey;
    margin-left: 420px;
    margin-top: -30px;
    cursor: pointer;
}
button{
    margin-top: 4px;
    padding: 14px;
    width: 80%;
    margin-left: 50px;
    background: linear-gradient(90deg, #59A1FF 19.89%, #3D67F2 100%);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.body h5{
    padding: 10px;
    font-weight: 100%;
    font-size: 15px;
    cursor:none;
    color: gray;
}
.f{
    margin-top: 4px;
    padding: 14px;
    width: 80%;
    margin-left: 50px;
    background: linear-gradient(90deg, #59A1FF 19.89%, #3D67F2 100%);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.g{ 
    margin-top: 4px;
    padding: 14px;
    width: 80%;
    margin-left: 50px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    color: blue;
   border: 1px solid blue;
}
#g{
    position: absolute;
    left: 520px;
    top: 495px;
    color: blue;
}
#f{
    position: absolute;
    left: 520px;
    top: 450px;
    color: white;
}
h3{
    text-align: center;
    padding:20px;
 font-family: 'Maven Pro', sans-serif;;
    color: grey;
    font-size: 17px;
    word-spacing: 4px;
}
h5{
    text-align: center;
  color: grey;
}
